<aside class="sidebar">
  <div style="font-size: 1.4em; font-weight: bold;">
    призовой фонд:<br><span style="font-size: 1.5em">29 000 ₽</span>
  </div>

  <div>
    <b>поддержать конкурс</b>:<br>
    <b><a href="https://www.tinkoff.ru/cf/8h15SpKZiav">Tinkoff</a></b>,
    <b><a href="https://yoomoney.ru/to/410014712660418">ЮMoney</a></b>
  </div>

  <div>
    <a href="{{ '/pages/rules' | url }}">регламент конкурса</a>
  </div>

  <div>
    <p style="margin-bottom: 0;">обсуждение конкурса:</p>
    <ul style="margin-top: 0;">
      <li><a href="https://2ch.hk/gd">закреплённый тред в /gd/</a></li>
      <li><a href="https://discord.gg/FNFnJVCZA9">сервер в Discord</a></li>
      <li><a href="https://t.me/gdchat">чат в Telegram</a></li>
    </ul>
  </div>

  <div>
    <a href="https://twoweeks.github.io/games-db/">игры прошлых конкурсов</a>
  </div>
</aside>
