<aside class="sidebar">
  <div>
    <b><a href="{{ '/pages/rules' | url }}">регламент конкурса</a></b>
  </div>

  <div>
    <p style="margin-bottom: 0;">обсуждение конкурса:</p>
    <ul style="margin-top: 0;">
      <li><a href="https://discord.gg/FNFnJVCZA9" target="_blank">сервер в Discord</a></li>
      <li><a href="https://t.me/gdchat" target="_blank">чат в Telegram</a></li>
    </ul>
  </div>

  <div>
    <a href="https://twoweeks.github.io/games-db/" target="_blank">игры прошлых конкурсов</a>
  </div>
</aside>
