---
title: Демоверсии
date: 2022-07-09
layout: layouts/post.njk
---

<p>Всего на конкурс было отправлено {{ { number:games_demo.length, titles: ['проект', 'проекта', 'проектов'] } | declOfNum }}. Их авторы проходят этап регистрации, и теперь должны будут сделать финальные версии своих игр.</p>

<p>Срок окончания приёма финальных версий - <strong>15 июля, 23:59 МСК</strong> включительно.</p>

<p>Девлоги своих проектов можно вести в канале #devlog нашего <a href="https://discord.gg/FNFnJVCZA9">Discord-сервера</a>, в <a href="https://t.me/gdchat">Telegram</a>-канале, а также в треде конкурса в <a href="https://2ch.hk/gd">/gd/</a>.</p>

<p><b>UPD:</b> Срок сдачи <a href="/posts/08-extra-day/">подлён</a> на 1 день, до <b>16 июля, 23:59 МСК</b> включительно.</p>

<p style="text-align: center"><b><a href="https://disk.yandex.ru/d/50q6AhcFLCbN4g">&gt;&gt;&gt; СКАЧАТЬ ВСЕ ИГРЫ &lt;&lt;&lt;</a></b></p>

{% from "macro/games-list.njk" import gamesList %}

{{ gamesList(games_demo) }}
